<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>All Clubs</title>
</head>
<body class="d-flex flex-column">
<main>

    <section layout:fragment="body" class="py-5">
            <div th:if="${param.success}" class="alert alert-success mb-3">
                You are registered successfully!
            </div>
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Runners Near You</h1>
                <p class="lead fw-normal text-muted mb-0">Runner's Nepal</p>
            </div>
            <div class="row gx-5">
                <div class="mb-3">
                    <form th:action="@{/clubs/search}">
                        <input name="query" class="form-control" placeholder="Search running clubs" th:value="${query}"/>
                    </form>
                </div>
                <div th:each="club :${clubs}" class="col-lg-6 mb-5">
                    <div class="position-relative mb-2">
                        <img class="img-fluid rounded-3 mb-3" style="width:100%;height:300px;object-fit:cover;" th:src="${club.photoUrl}" alt="..."/>
                        <a th:text="${club.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link"
                           th:href="@{/clubs/{clubId}(clubId=${club.id})}"></a>
                    </div>
                    <span th:if="${club.createdBy.id} == ${user.id}">
                        <a class="btn btn-secondary" th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}">
                            <i class="bi bi-pencil-fill"></i>
                            Edit
                        </a>
                    </span>
                    <a class="btn btn-primary" th:href="@{/clubs/{clubId}(clubId=${club.id})}">
                        <i class="bi bi-eye-fill"></i>
                        View
                    </a>
                </div>
            </div>
    </section>

</main>
</body>
</html>